[submodule "site"]
	path = site
	url = ./site
[submodule "RustPython"]
	path = RustPython
	url = https://github.com/RustPython/RustPython
[submodule "packages/RediSearch"]
	path = packages/website/RediSearch/
	url = https://github.com/xhebox/RediSearch
[submodule "packages/RedisJson"]
	path = packages/website/RedisJSON
	url = https://github.com/RedisJSON/RedisJSON
[submodule "packages/website/RediSearch"]
	path = packages/website/RediSearch
	url = https://github.com/RediSearch/RediSearch
[submodule "packages/ts-oauth2-server"]
	path = packages/ts-oauth2-server
	url = http://github.com/xhebox/ts-oauth2-server
