/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: icons */
.i-akar-icons-heart{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3s-5 3-5 3s-2.239-3-5-3Z'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;width:1em;height:1em;}
.i-ant-design-user-outlined{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 1024 1024' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M858.5 763.6a374 374 0 0 0-80.6-119.5a375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1c-.4.2-.8.3-1.2.5c-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8c2-77.2 33-149.5 87.8-204.3c56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;width:1em;height:1em;}
.i-bx-box{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M20 3H4a2 2 0 0 0-2 2v2a2 2 0 0 0 1 1.72V19a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.72A2 2 0 0 0 22 7V5a2 2 0 0 0-2-2zM4 5h16v2H4zm1 14V9h14v10z'/%3E%3Cpath fill='currentColor' d='M8 11h8v2H8z'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;width:1em;height:1em;}
.i-carbon-search{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9Z'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;width:1em;height:1em;}
/* layer: shortcuts */
.container{max-width:100%;}
[w-scrollbar~="\~"]::-webkit-scrollbar{width:var(--scrollbar-width);height:var(--scrollbar-height);}
[w-scrollbar~="\~"]::-webkit-scrollbar-thumb{background-color:var(--scrollbar-thumb);}
[w-scrollbar~="\~"]::-webkit-scrollbar-track{background-color:var(--scrollbar-track);}
[w-scrollbar~="\~"]{scrollbar-color:var(--scrollbar-thumb) var(--scrollbar-track);--scrollbar-track:#f5f5f5;--scrollbar-thumb:#ddd;--scrollbar-width:8px;--scrollbar-height:8px;--scrollbar-track-radius:4px;--scrollbar-thumb-radius:4px;overflow: auto;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: 00010 */
.w-0px{width: 0;}
.w-100vw,
[w-w~="\31 00vw"]{width: 100vw;}
.w-2{width: 2px;}
[w-w~="\31 024px"]{width: 1024px;}
[w-w~="\36 0vw"]{width: 60vw;}
[w-w~="\36 rem"]{width: 6rem;}
/* layer: 00020 */
[w-h~="\31 0rem"]{height: 10rem;}
[w-h~="\32 rem"]{height: 2rem;}
[w-h~="\33 00px"]{height: 300px;}
[w-h~="\33 0rem"]{height: 30rem;}
[w-h~="\35 0px"]{height: 50px;}
[w-h~="\36 rem"]{height: 6rem;}
/* layer: 00050 */
[w-m~="\30 "]{margin:0;}
/* layer: 00110 */
[w-p~="\30 "]{padding:0;}
[w-p~="\31 0px"]{padding:10px;}
[w-p~="\31 2px"]{padding:12px;}
/* layer: 00290 */
.after\:display-block::after{display: block;}
[w-display~="inline-block"]{display: inline-block;}
/* layer: 00310 */
.top-0,
[w-top~="\30 "]{top: 0;}
/* layer: 00490 */
.border-l-0{border-left-width: 0;}
[w-border-b~="\30 \.1rem"]{border-bottom-width: 0.1rem;}
/* layer: 00900 */
[w-text~="black"]{color: rgba(0,0,0,1);}
/* layer: 00920 */
.bg-transparent,
[w-hover~="bg-transparent"]:hover{background-color: transparent;}
.bg-white,
[w-bg~="white"]{background-color: rgba(255,255,255,1);}
/* layer: default */
.pointer-events-none{pointer-events:none;}
.\.btn-active\:focus-visible:focus:active,
.\.btn-ghost\:focus-visible:focus:host,
.\.btn-link\:focus-visible:focus:link,
.\.link\:focus-visible:focus:link,
.visible{visibility:visible;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
[w-grid~="\~"]{display:grid;}
.auto-rows-fr{grid-auto-rows:minmax(0,1fr);}
[w-grid~="cols-\[30\%70\%\]"]{grid-template-columns:30%70%;}
[w-grid~="rows-\[20\%80\%\]"]{grid-template-rows:20%80%;}
.m100{margin:25rem;}
.m149\.369{margin:37.34225rem;}
.m29{margin:7.25rem;}
.m87{margin:21.75rem;}
.m96{margin:24rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mb-20{margin-bottom:5rem;}
.mb-300px{margin-bottom:300px;}
[w-mt~="\32 rem"]{margin-top:2rem;}
.block{display:block;}
.inline-block{display:inline-block;}
.contents{display:contents;}
.list-item{display:list-item;}
.hidden{display:none;}
[w-display~="after\:display-block"]::after{display:display-block;}
.after\:w-full::after,
[w-hover~="after\:w-full"]:hover::after,
[w-w~="full"]{width:100%;}
.h-3xl{height:48rem;}
.h-full{height:100%;}
.h1{height:0.25rem;}
.h6{height:1.5rem;}
.min-h-screen{min-height:100vh;}
.w-screen{width:100vw;}
.flex,
[w-flex~="\~"]{display:flex;}
.inline-flex{display:inline-flex;}
.grow,
[w-flex~="grow"]{flex-grow:1;}
[w-flex~="row"]{flex-direction:row;}
[w-flex~="col"]{flex-direction:column;}
.table{display:table;}
.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-1\/2{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.translate-y-400px,
[w-transform~="translate-y-400px"]{--un-translate-y:400px;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.preserve-3d{transform-style:preserve-3d;}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.resize{resize:both;}
.items-center,
[w-items~="center"]{align-items:center;}
.justify-center,
[w-justify~="center"]{justify-content:center;}
.justify-between{justify-content:space-between;}
.b,
.border{border-width:1px;border-style:solid;}
.border-l{border-left-width:1px;border-left-style:solid;}
.border-t{border-top-width:1px;border-top-style:solid;}
.border-base-content{--un-border-opacity:1;border-color:hsla(var(--bc),var(--un-border-opacity));}
[w-border-b~="gray"]{--un-border-opacity:1;--un-border-bottom-opacity:var(--un-border-opacity);border-bottom-color:rgba(156,163,175,var(--un-border-bottom-opacity));}
.border-opacity-10{--un-border-opacity:0.1;}
.rounded-full,
[w-border~="rounded-full"]{border-radius:9999px;}
[w-border-b~="solid"]{border-bottom-style:solid;}
.bg-base-content{--un-bg-opacity:1;background-color:hsla(var(--bc),var(--un-bg-opacity));}
[w-bg~="light-50"]{--un-bg-opacity:1;background-color:rgba(253,253,253,var(--un-bg-opacity));}
.bg-opacity-10{--un-bg-opacity:0.1;}
.px{padding-left:1rem;padding-right:1rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
[w-pl~="\31 0px"]{padding-left:10px;}
[w-text~="center"]{text-align:center;}
[w-align~="middle"]{vertical-align:middle;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
[w-text~="\32 0px"]{font-size:20px;}
[w-text~="\33 rem"]{font-size:3rem;}
[w-text~="\36 0px"]{font-size:60px;}
.font-normal{font-weight:400;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.text-gray-400{--un-text-opacity:1;color:rgba(156,163,175,var(--un-text-opacity));}
[w-text~="gray-800"]{--un-text-opacity:1;color:rgba(31,41,55,var(--un-text-opacity));}
[w-text~="neutral-500"]{--un-text-opacity:1;color:rgba(115,115,115,var(--un-text-opacity));}
.underline{text-decoration-line:underline;}
.decoration-none,
[w-hover~="decoration-none"]:hover{text-decoration:none;}
.tab{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.outline{outline-style:solid;}
.ease-in-out{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.ease-out{transition-timing-function:cubic-bezier(0, 0, 0.2, 1);}
[w-scrollbar~="w-0px"]{--scrollbar-width:0px;}
.home-top-img{background:url(https://hsiaofongw.notion.site/images/page-cover/rijksmuseum_jansz_1641.jpg) fixed 100%;;}
.slideIn{animation:slide-in 1s ease-in-out 1 forwards;;}
.slide-underline,
[w-after~="slide-underline"]::after{content:"";display:block;width:0%;;height:4px;;background:gray;;transition:all 0.3s;;}