.markdown {
	.footnotes {
		& hr {
			@apply my-8;
		}
	}

	img {
		@apply py-2 mx-auto;
	}

	p {
		@apply py-2;
	}

	b, strong {
		@apply text-nord-10;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: circle;
	}

	a {
		@apply font-semibold underline;
	}
}
